# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database files
*.db
*.sqlite3

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/
.cache/

# Environment variables
.env
